@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&display=swap');
body {
    background-color: white;
    width: 100vw;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.Top_bar {
    display: flex;
    padding-left: 1.3vw;
    padding-right: 2.8vw;
    margin: 1.3vw 1.3vw 0vw 1.3vw;
    outline: 0.3vw solid black;
    border-radius: 0.35vw;
    height: 5vh;
    width: auto;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 5px 3px rgba(22, 22, 22, 0.3);
}

.Logo {
    font-size: 5vh;
    font-weight: 600;
}

.Stats {
    display: flex;
    flex-direction: row; 
    width: 42vw;
    justify-content: space-between;
}

.Delivers , .Orders {
    display: flex;
    width: 18vw;
    align-items: center;
    justify-content: space-between;
}

.red {
    background-color: rgb(255, 0, 0);
    border-radius: 100vw;
    width: 1.8vw;
    height: 1.8vw;
}

.green {
    background-color: rgb(0, 205, 0);
    border-radius: 100vw;
    width: 1.8vw;
    height: 1.8vw;
}

.blue {
    background-color: rgb(3, 121, 255);
    border-radius: 100vw;
    width: 1.8vw;
    height: 1.8vw;
}

.red_no {
    color: rgb(255, 0, 0);
    font-size: 2vh;
}

.green_no {
    color: rgb(0, 205, 0);
    font-size: 2vh;
}

.order, .rel{
    font-size: 2vh;
}

.Search_bar {
    display: flex;
    margin: 1.3vw;
    margin-top: 1vh;
    padding-left: 3.6vw;
    padding-right: 4vw;
    outline: 0.3vw solid black;
    border-radius: 0.35vw;
    height: 5vh;
    width: auto;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 5px 3px rgba(22, 22, 22, 0.3);
}

.search {
    font-size: 2vh;
}

.icon {
    font-size: 3vh;
}

.Title {
    font-size: 2.5vh;
}

.Titleg {
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    margin-left: 3.5vw;
}

.Popular_rn {
    display: flex;
    flex-direction: column;
    margin: 1.3vw;
    margin-top: 1vh;
    padding-top: 1vw;
    outline: 0.3vw solid black;
    border-radius: 0.35vw;
    height: 23vh;
    width: auto;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(108, 108, 108, 0.3);
    justify-content: space-evenly;
}

.Popular_Items {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
    scroll-behavior: smooth;
    gap: 1.6vw;
}

.p1, .p , .p2{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    outline: 0.3vw solid rgb(99, 99, 99);
    border-radius: 0.35vw;
    height: 19vh;
    width: 19vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(22, 22, 22, 0.493);
    align-items: center;
}

.prod_image {
    padding-top: 0.2vw;
    max-height: 14.4vh;
    max-width: 18vh;
    align-self: center;
    align-items: center;
    align-content: center;
}

.prod_images {
    padding-top: 0.2vw;
    max-height: 14.4vh;
    max-width: 9vh;
}

.prod_details {
    display: flex;
    margin-bottom: 0.4vh;
    font-size: 1.5vh;
    width: 17.2vh;
    justify-content: space-between;
    align-items: center;
    margin-top: -1.5vh;
    outline: 0.3vw solid rgb(99, 99, 99);
    border-radius: 0.35vw;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(22, 22, 22, 0.493);
    padding: 1vw;
}

.prod_price {
    background-color: rgb(255, 0, 0);
    border-radius: 0.35vw;
    outline: 0.3vw solid black;
    padding: 0.5vw 1.2vw 0.5vw 1.2vw;
    color: white;
    box-shadow: 2px 2px 3px rgba(22, 22, 22, 0.493);
    font-family: "Baloo Thambi 2", system-ui;
}

.prod_name {
    font-size: 1.8vh;
    letter-spacing: -0.3vw;
    word-spacing: -1.0vw;
}

.p1 {
    margin-left: 2vw;
}

.p2 {
    margin-right: 2vw;
}

.Data {
    margin: 1.3vw;
    margin-top: 1vh;
    display: flex;
    outline: 0.3vw solid black;
    border-radius: 0.35vw;
    height: 28vh;
    width: auto;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(108, 108, 108, 0.3);
}

.Latest_Order {
    width: 47vw;
    height: auto;
    outline: 0.3vw solid rgb(99, 99, 99);
    border-radius: 0.35vw;
    background-color: white;
    box-shadow: 0px 5px 3px rgba(22, 22, 22, 0.3);
    margin: 1.5vw;
}

.Titlex {
    font-size: 2.5vh;
    text-align: center;
    margin-top: 0.6vh;
}

.types {
    margin: 1vw;
    outline: 0.2vw solid rgb(99, 99, 99);
    border-radius: 0.3vw;
}

.type {
    align-items: center;
    display: flex;
    margin-left: 2.5vw;
    font-size: 2vh;
}

.list, .deliver_times {
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    white-space: nowrap; 
    scroll-behavior: smooth;
    height: 15.6vh;
    gap: 1vw;
}

.list_ele ,.list_eles, .list_elet {
    font-size: 1.8vh;
    letter-spacing: -0.3vw;
    word-spacing: -1.0vw;
    display: flex;
    width: auto;
    justify-content: space-between;
    
    outline: 0.2vw solid black;
    border-radius: 0.1vw;
    background-color: white;
    padding: 1vw;
    box-shadow: 0px 2px 2px rgba(22, 22, 22, 0.3);
}

.list_elet {
    margin: 1vw 1vw 0vw 1vw;
}

.list_ele {
    margin: 0vw 1vw 0vw 1vw;
}

.list_eles {
    margin: 0vw 1vw 1vw 1vw;
}

.id {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Times {
    display: flex;
    flex-direction: column;
    width: 46vw;
    margin: 0vw 1.5vw 1.5vw 0.3vw;
}

.timers {
    display: flex;
    flex-direction: column;
    height: 14vh;
    justify-content: space-evenly;
    margin-bottom: 1vw;
}

.Box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.time_box {
    display: flex;
    flex-direction: column;
    width: 15vw;
    align-items: center;
}

.Time {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.Time_val, .Time_valg, .Time_valr, .Time_valb {
    font-size: 4vh;
}

.Time_valg {
    color: rgb(0, 205, 0);
}

.Time_valr {
    color: rgb(255, 0, 0);
}

.Time_valb {
    color: rgb(3, 121, 255);
}

.Type {
    margin-top: -1.5vw;
    font-size: 2vh;
}

.deliver_times {
    width: 46vw;
    height: 13vh;
    outline: 0.3vw solid rgb(99, 99, 99);
    border-radius: 0.35vw;
    background-color: white;
    box-shadow: 0px 5px 3px rgba(22, 22, 22, 0.3);
}

.time_ordg {
    color: rgb(0, 205, 0);
}

.time_ordr {
    color:rgb(255, 0, 0);
}

.time_ordb {
    color: rgb(3, 121, 255);
}

.Nav_bar {
    display: flex;
    margin: 1.3vw;
    margin-top: 1vh;
    padding-left: 2vw;
    padding-top: 1vw;
    outline: 0.3vw solid black;
    border-radius: 0.35vw;
    height: 5.5vh;
    width: auto;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 5px 3px rgba(22, 22, 22, 0.3);
}
