@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&display=swap');
body {
    background-color: white;
    width: 100vw;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.Top_bar {
    display: flex;
    padding-left: 1.3vw;
    padding-right: 2.8vw;
    margin: 1.3vw;
    outline: 0.3vw solid black;
    border-radius: 5px;
    height: 5vh;
    width: auto;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 5px 3px rgba(22, 22, 22, 0.3);
}

.Logo {
    font-size: 5vh;
    font-weight: 600;
}

.Stats {
    display: flex;
    flex-direction: row; 
    width: 42vw;
    justify-content: space-between;
}

.Delivers , .Orders {
    display: flex;
    width: 18vw;
    align-items: center;
    justify-content: space-between;
}

.red {
    background-color: rgb(255, 0, 0);
    border-radius: 100vw;
    width: 1.8vw;
    height: 1.8vw;
}

.green {
    background-color: rgb(0, 205, 0);
    border-radius: 100vw;
    width: 1.8vw;
    height: 1.8vw;
}

.red_no {
    color: rgb(255, 0, 0);
}

.green_no {
    color: rgb(0, 205, 0);
}

.Search_bar {
    display: flex;
    margin: 1.3vw;
    margin-top: 1.2vh;
    padding-left: 3.6vw;
    padding-right: 4vw;
    outline: 0.3vw solid black;
    border-radius: 5px;
    height: 5vh;
    width: auto;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 5px 3px rgba(22, 22, 22, 0.3);
}

.search {
    font-size: 2vh;
}

.icon {
    font-size: 3vh;
}

.Title {
    font-size: 2.5vh;
}

.Titleg {
    margin-left: 2vw;
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    margin-left: 3.5vw;
}

.Popular_rn {
    display: flex;
    flex-direction: column;
    margin: 1.3vw;
    margin-top: 1.2vh;
    padding-top: 1vw;
    outline: 0.3vw solid black;
    border-radius: 2px;
    height: 23vh;
    width: auto;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(108, 108, 108, 0.3);
    justify-content: space-evenly;
}

.Popular_Items {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
    scroll-behavior: smooth;
    gap: 2.5vw;
}

.p1, .p , .p2{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    outline: 0.3vw solid rgb(99, 99, 99);
    border-radius: 2px;
    height: 17vh;
    width: 17vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    justify-content: space-around;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(22, 22, 22, 0.493);
    align-items: center;
}

.prod_image {
    max-height: 11.7vh;
    max-width: 15vh;
    margin-top: -0.5vh;
    align-self: center;
}

.prod_images {
    max-height: 11.7vh;
    max-width: 8vh;
    margin-top: -0.5vh;
    align-self: center;
}

.prod_details {
    display: flex;
    font-size: 1.5vh;
    width: 15.2vh;
    justify-content: space-between;
    align-items: center;
    margin-top: -1.5vh;
    outline: 0.3vw solid rgb(99, 99, 99);
    border-radius: 2px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(22, 22, 22, 0.493);
    padding: 1vw;
}

.prod_price {
    background-color: rgb(255, 0, 0);
    border-radius: 33vw;
    outline: 0.3vw solid black;
    padding: 0.5vw 1.2vw 0.5vw 1.2vw;
    color: white;
    box-shadow: 2px 2px 3px rgba(22, 22, 22, 0.493);
    font-family: "Baloo Thambi 2", system-ui;
}

.prod_name {
    font-size: 1.8vh;
    letter-spacing: -0.3vw;
    word-spacing: -1.0vw;
}

.p1 {
    margin-left: 2vw;
}

.p2 {
    margin-right: 2vw;
}

.Data {
    margin: 1.3vw;
    margin-top: 1.2vh;
    display: flex;
    outline: 0.3vw solid black;
    border-radius: 2px;
    height: 26vh;
    width: auto;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(108, 108, 108, 0.3);
    padding: 2vw;
}

.Latest_Order {
    width: 45.5vw;
    height: auto;
    outline: 0.3vw solid rgb(99, 99, 99);
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 5px 3px rgba(22, 22, 22, 0.3);
}

.Average {
    display: flex;
    flex-direction: column;
}

.timers {
    height: 13vh;
}

.deliver_times {
    width: 45.5vw;
    height: 13vh;
    outline: 0.3vw solid rgb(99, 99, 99);
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 5px 3px rgba(22, 22, 22, 0.3);
}


.Nav_bar {
    display: flex;
    margin: 1.3vw;
    margin-top: 1.2vh;
    padding-left: 2vw;
    padding-top: 1vw;
    outline: 0.3vw solid black;
    border-radius: 5px;
    height: 7vh;
    width: auto;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 5px 3px rgba(22, 22, 22, 0.3);
}
