<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ramp_D</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home/home.css') }}">
</head>
<body>
    <div class = "Top_bar">
        <div class = "Logo">RAMP</div>
        <div class = "Stats">
            
            <div class = "Orders">
                <div class = "red"></div>
                <div class = "red_no">00</div>
                <div class = "order">Nomz</div>
            </div>
            <div class = "Delivers">
                <div class = "green"></div>
                <div class = "green_no">00</div>
                <div class = "order">Nemz</div>
            </div>

        </div>
    </div>

    <div class = "Search_bar">
        <div class = "search">Search</div>
        <div class = "icon">@</div>
    </div>

    <div class = "Popular_rn">
        <div class = "Titleg"><div class = "red"></div>&nbsp;Popural rn</div>
        <div class = "Popular_Items">
            
            <div class = "p1">
                <img class = "prod_image" src = "{{ url_for('static', filename='src/Lays.jpg') }}">
                <div class = "prod_details">
                    <div class = "prod_name">Lays Chips</div>
                    <div class = "prod_price">+ரூ20</div>
                </div>
            </div>

            <div class = "p">
                <img class = "prod_image" src = "{{ url_for('static', filename='src/dew.png') }}">
                <div class = "prod_details">
                    <div class = "prod_name">Mtn Dew</div>
                    <div class = "prod_price">+ரூ40</div>
                </div>
            </div>

            <div class = "p">
                <img class = "prod_image" src = "{{ url_for('static', filename='src/milk_shake.png') }}">
                <div class = "prod_details">
                    <div class = "prod_name">Milk Shake</div>
                    <div class = "prod_price">+ரூ35</div>
                </div>
            </div>

            <div class = "p2">
                <img class = "prod_image" src = "{{ url_for('static', filename='src/Kitkat.webp') }}">
                <div class = "prod_details">
                    <div class = "prod_name">Kitkat</div>
                    <div class = "prod_price">+ரூ30</div>
                </div>
            </div>
        
        </div>
    </div>

    <div class = "Popular_rn">
        <div class = "Titleg"><div class = "green"></div>&nbsp;Speed Nomz</div>
        <div class = "Popular_Items">
            
            <div class = "p1">
                <div class = "prod_image">
                    <img class = "prod_images" src = "{{ url_for('static', filename='src/Lays.jpg') }}">
                    <img class = "prod_images" src = "{{ url_for('static', filename='src/dew.png') }}">
                </div>
                <div class = "prod_details">
                    <div class = "prod_name">Lays & Dew</div>
                    <div class = "prod_price">+ரூ75</div>
                </div>
            </div>

            <div class = "p">
                <div class = "prod_image">
                    <img class = "prod_images" src = "{{ url_for('static', filename='src/milk_shake.png') }}">
                    <img class = "prod_images" src = "{{ url_for('static', filename='src/Kitkat.webp') }}">
                </div>
                <div class = "prod_details">
                    <div class = "prod_name">KK & Milk</div>
                    <div class = "prod_price">+ரூ65</div>
                </div>
            </div>

            <div class = "p">
                <div class = "prod_image"></div>
                <div class = "prod_details">
                    <div class = "prod_name"></div>
                    <div class = "prod_price"></div>
                </div>
            </div>

            <div class = "p">
                <div class = "prod_image"></div>
                <div class = "prod_details">
                    <div class = "prod_name"></div>
                    <div class = "prod_price"></div>
                </div>
            </div>

            <div class = "p2">
                <div class = "prod_image"></div>
                <div class = "prod_details">
                    <div class = "prod_name"></div>
                    <div class = "prod_price"></div>
                </div>
            </div>
        
        </div>
    </div>

    <div class = "Data">
        <div class = "Latest_Order">
            <div class = "Titlex">New Nomz</div>
            <div class = "types">
                <div class = "type"><div class = "red"></div>&nbsp;Waiting</div>
                <div class = "type"><div class = "blue"></div>&nbsp;On going</div>
                <div class = "type"><div class = "green"></div>&nbsp;Delivered</div>
            </div>
            <div class = "list">
                <div class = "list_elet">
                    <div class = "id"><div class = "red"></div>&nbsp;25BMH1122</div>
                    <div class = "time_ord"> 12:15 PM</div>
                </div>

                <div class = "list_ele">
                    <div class = "id"><div class = "blue"></div>&nbsp;25BMH1071</div>
                    <div class = "time_ord">12:00PM</div>
                </div>

                <div class = "list_ele">
                    <div class = "id"><div class = "green"></div>&nbsp;25BMH1014</div>
                    <div class = "time_ord">11:56AM</div>
                </div>

                <div class = "list_ele">
                    <div class = "id"><div class = "green"></div>&nbsp;25BMH1121</div>
                    <div class = "time_ord">11:49AM</div>
                </div>

                <div class = "list_ele">
                    <div class = "id"><div class = "blue"></div>&nbsp;25BMH1071</div>
                    <div class = "time_ord">12:00PM</div>
                </div>

                <div class = "list_ele">
                    <div class = "id"><div class = "green"></div>&nbsp;25BMH1014</div>
                    <div class = "time_ord">11:56AM</div>
                </div>

                <div class = "list_ele">
                    <div class = "id"><div class = "green"></div>&nbsp;25BMH1121</div>
                    <div class = "time_ord">11:49AM</div>
                </div>

                <div class = "list_eles">
                    <div class = "id"><div class = "green"></div>&nbsp;25BMH1054</div>
                    <div class = "time_ord">11:46AM</div>
                </div>
            </div>
        </div>

        <div class = "Times">
            
            <div class = "timers">

                <div class = "Box">
                    <div class = "time_box">
                        <div class = "Time">
                            <div class = "Time_valg">4</div>
                            <div class = "rel">M</div>
                        </div>
                        <div class = "Type">Fastest</div>
                    </div>

                    <div class = "time_box">
                        <div class = "Time">
                            <div class = "Time_valr">19</div>
                            <div class = "rel">M</div>
                        </div>
                        <div class = "Type">Slowest</div>
                    </div>
                </div>

                <div class = "Box">
                    <div class = "time_box">
                        <div class = "Time">
                            <div class = "Time_valb">9</div>
                            <div class = "rel">M</div>
                        </div>
                        <div class = "Type">Avg|hr</div>
                    </div>

                    <div class = "time_box">
                        <div class = "Time">
                            <div class = "Time_val">8</div>
                            <div class = "rel">M</div>
                        </div>
                        <div class = "Type">Avg|Day</div>
                    </div>

                </div>

            </div>

            <div class = "deliver_times">
                <div class = "list_elet">
                    <div class = "id">25BMH1122</div>
                    <div class = "time_ordr">12M</div>
                </div>

                <div class = "list_ele">
                    <div class = "id">25BMH1071</div>
                    <div class = "time_ordg">8M</div>
                </div>

                <div class = "list_ele">
                    <div class = "id">25BMH1014</div>
                    <div class = "time_ordb">9M</div>
                </div>

                <div class = "list_ele">
                    <div class = "id">25BMH1121</div>
                    <div class = "time_ordg">5M</div>
                </div>

                <div class = "list_ele">
                    <div class = "id">25BMH1071</div>
                    <div class = "time_ordg">7M</div>
                </div>

                <div class = "list_ele">
                    <div class = "id">25BMH1014</div>
                    <div class = "time_ordr">13M</div>
                </div>

                <div class = "list_ele">
                    <div class = "id">25BMH1121</div>
                    <div class = "time_ordb">9M</div>
                </div>

                <div class = "list_eles">
                    <div class = "id">25BMH1054</div>
                    <div class = "time_ordg">4M</div>
                </div>
            </div>

        </div>
    </div>

    <div class = "Nav_bar">
        <div class = "role">
            <div class = "Nomz"></div>
            <div class = "Nemz"></div>
        </div>
        <div class = "cart_full"></div>
        <div class = "account"></div>
        <div class = "tracker"></div>
    </div>
    
    <script src="{{ url_for('static', filename='home/home.js') }}"></script>
</body>
</html>